.form-group {
  align-content: center !important;
}
.form-control {
  width: 25rem !important;
  margin: 1rem auto !important;
}

.btn {
  background-color: #4abdac !important;
  border-color: #4abdac !important;
  color: #fffefe !important;
  font-weight: bold !important;
}

.btn:hover {
  background-color: #fc4a1a !important;
  border-color: #fc4a1a !important;
  color: #fffefe !important;
}

.btn:disabled {
  background-color: #4abdac !important;
  border-color: #4abdac !important;
  opacity: 0.7 !important;
}